// app global css in SCSS form

// 默认背景色
$background-color-default: #f4f5f7;

// 页面背景色
$page-background-color: $background-color-default;

$header-height: 60px;

.t-common-page {
  background-color: $page-background-color;
}

.t-page-header {
  background-color: inherit !important;
  height: $header-height;
}

.t-side-bar {
  .menu-item {
    border-radius: $generic-border-radius;
  }

  .menu-item__active {
    background-color: #ffffff;
  }
}

.t-tabs {
  background-color: $page-background-color;
  flex: 0 1 auto;
  border-radius: $generic-border-radius !important;

  .t-tab {
    border-radius: inherit;
  }

}
