.descriptions-container {
  .q-table__card {
    border-radius: 0;
  }

  .descriptions-body {
    width: 100%;
    overflow: hidden;
  }

  .description-item-cell__label {
    color: $grey-7;
  }

  .description-item-cell__label::after {
    display: inline-block;
    content: ':';
    margin-left: 5px;
    margin-right: 5px;
  }
}
