$primary   : #4E46B4;
$secondary : #40A69F;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #0bc15a;
$negative  : #dc3618;
$info      : #0d53d3;
$warning   : #f5a300;

$generic-border-radius  : 12px;

$shadow-1 : 0px 12px 12px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
