$card-shadow: 0 0 20px 0 rgb(0 0 0 / 12%);

// q-card
.q-card {
  box-shadow: $card-shadow
}

.q-table__card {
  box-shadow: $card-shadow
}

.q-field--filled .q-field__control {
  border-radius: $generic-border-radius $generic-border-radius $generic-border-radius $generic-border-radius;
}

.q-drawer {
  background-color: inherit;
}
